
@{
    ViewData["Title"] = "VistaRecibos";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="text-center">
    <div class="alert alert-success">
        <h2 class="display-4">Vista de Recibos</h2>
    </div>
</div>
