@model ProyectoRRHH.Models.ReciboSueldo

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>ReciboSueldo</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="FechaCobro" class="control-label"></label>
                <input asp-for="FechaCobro" class="form-control" />
                <span asp-validation-for="FechaCobro" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="SueldoBruto" class="control-label"></label>
                <input asp-for="SueldoBruto" class="form-control" />
                <span asp-validation-for="SueldoBruto" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="UsuarioDni" class="control-label"></label>
                <select asp-for="UsuarioDni" class ="form-control" asp-items="ViewBag.UsuarioDni"></select>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
