@model IEnumerable<ProyectoRRHH.Models.ReciboSueldo>

@{
    ViewData["Title"] = "Index";
}

<h1>Recibos de Sueldo</h1>

<table class="table">
    <thead>
        <tr>
            <th>Fecha de Cobro</th>
            <th>Sueldo</th>
            <th>Acciones</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var recibo in Model)
        {
            <tr>
                <td>@recibo.FechaCobro.ToString("dd/MM/yyyy")</td>
                <td>@recibo.sueldo</td>
                <td>
                    <a href="@Url.Action("Details", "ReciboSueldo", new { id = recibo.Id })">Ver Detalles</a>
                </td>
            </tr>
        }
    </tbody>
</table>