@model IEnumerable<ProyectoRRHH.Models.ReciboSueldo>

@{
    ViewData["Title"] = "Index";
}

<h1>Recibos de Sueldo</h1>

<p><strong>DNI del Usuario:</strong> @ViewBag.UsuarioDni</p> <!-- Mostrar el DNI -->

<table>
    <thead>
        <tr>
            <th>Fecha de Cobro</th>
            <th>Sueldo Básico</th>
            <th>Sueldo Neto</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var recibo in Model)
        {
            <tr>
                <td>@recibo.FechaCobro.ToShortDateString()</td>
                <td>@recibo.SueldoBruto.ToString("C")</td>
                <td>@recibo.SueldoNeto.ToString("C")</td>
            </tr>
        }
    </tbody>
</table>