html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
  position: relative;
  min-height: 100%;
}

body {
    margin-bottom: 60px;
}

.logo-nb
{
    width: 20px;
}

header nav li.nav-item a {
    padding: 15px 5px !important;
}

header nav li.nav-item:first-child {
    padding-left: 30px;
}

header nav li.nav-item:hover a {
    color: #0d6efd !important;
}


header nav li.nav-item:not(:last-child) {
    border-right: 1px gray solid;
    padding-right: 15px;
}

header nav ul
{
    gap: 10px;
}

.printable {
    display: none !important;
}

@media print {
    /* Media query para impresión */
    
    header ul
    {
        display: none !important;
    }

    .hide-print
    {
        display: none !important;
    }

    *.printable {
        display: block !important;
    }

    footer
    {
        display: none !important;
    }
}